.measurement-container {
  position: fixed;
  display: none;
  top: 100px;
  right: 50%;
  width: 470px;
  height: 50px;
  background-color: var(--orchid-color);;
  align-items: center;
  justify-content: space-between;
}