.ol-zoom-in, .ol-zoom-out {
  left: 2px;
  position: fixed;
  font-size: 30px !important;
  border-radius: 50px !important;
  background-color: var(--orchid-color) !important;
  color: white;
}

.ol-zoom-in {
  top: 100px;
}

.ol-zoom-out {
  top: 150px;
}

.ol-attribution {
  display: none;
}