.top-bar-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1001;
  background-color: var(--orchid-color);
  color: white;
  align-items: center;
  justify-content: space-between;
}

.top-bar-container > .logo-container {
  font-size: 2rem;
  padding: 1rem;
  align-items: center;
}

.top-menu-container {
  display: flex;
  padding: 1rem;
  align-items: flex-end;
}

.drawing, .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0 10px 0 15px;
}

.drawing {
  border-right: 1px solid white;
}

.drawing:last-child {
  border-right: none;
}
.drawing:last-child:hover {
  border-right: none;
}

.drawing:hover, .menu-item:hover {
  color: rgb(148, 139, 139);
}

.drawing:hover {
  border-right: 1px solid white;
}

.drawing svg, .others svg {
  color: rgb(196, 248, 244);
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}

.drawing-container {
  z-index: 101;
  position: fixed;
  display: none;
  top: 400px;
  right: 0;
  width: 470px;
  height: 50px;
  background-color: var(--orchid-color);;
  align-items: center;
  justify-content: space-between;
}